.button {
  font-size: 2rem;
  min-height: 50px;
  padding: .3rem .5rem;
  background: none;
  border: 0;
  outline-color: var(--clr-pink);
  cursor: pointer;
}
.button:hover {
  color: var(--clr-pink);
}
.button:active {
  transform: scale(.8);
}