.help {
  max-width: 600px;
}
.help h4 {
  margin: 0.5rem 0;
}
.help img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: inherit;
}
.help .img__wrapper {
  height: 150px;
  width: 250px;
  margin: 0 auto;
}
