.form__field {
  position: relative;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.form__field label {
  color: var(--colors-slate12);
  margin-right: 0.5em;
}
.field-select {
  position: relative;
  width: 100%;
}
.field-select select {
  appearance: none;
  border-radius: 4px;
  color: var(--colors-slate12);
  background-color: var(--colors-gray1);
  min-height: calc(1em + 26px);
  min-width: 100px;
  padding-left: 0.5em;
  border: 1px solid var(--colors-gray8);
  outline: 0;
}
.field-select::after {
  border-bottom: 2px solid var(--colors-slate12);
  border-right: 2px solid var(--colors-slate12);
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -65%) rotate(45deg);
}
.field-select fieldset {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  pointer-events: none;
  border: 1px solid;
  border-color: transparent;
}
.field-select select:focus ~ fieldset {
  box-shadow: var(--focus1);
}

.field-select:hover > fieldset {
  border-color: var(--colors-black);
}
