.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-board__inner {
  border: 1px solid var(--colors-sky6);
}
.game-board__row {
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: var(--colors-white);
  border: 1px solid var(--colors-lightblue);
  cursor: pointer;
}
.cell:hover {
  background-color: var(--colors-orange6);
}
.cell:active {
  background-color: var(--colors-lightskyblue);
}
.cell.alive {
  background-color: var(--colors-lightskyblue);
}
.cell.alive:hover {
  background-color: var(--colors-sky11);
}
.cells-group {
  display: flex;
  flex-flow: row wrap;
}
