@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* 
  1-9 copied from https://www.joshwcomeau.com/css/custom-css-reset/
*/ /*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:target {
  background-color: gold;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
:root {
  --clr-gainsboro: gainsboro;
  --clr-lightblue: lightblue;
  --clr-pale-brown: bisque;
  --clr-lightskyblue: lightskyblue;
  --clr-lightskyblue-1: rgb(28, 174, 231);
  --clr-white: white;
  --clr-white-1: #eee;
  --clr-black: black;
  --clr-elements: hsl(0, 0%, 100%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-pink: hsla(333, 60%, 60%, 1);
  --clr-dark-pink: hsla(333, 40%, 45%, 1);
  --clr-backdrop: rgba(0, 0, 0, 0.5);

  --shadow-color: 280deg 6% 76%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.17),
    0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.17),
    0.8px 1.5px 1.9px -2.5px hsl(var(--shadow-color) / 0.17);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.18),
    0.7px 1.3px 1.7px -0.8px hsl(var(--shadow-color) / 0.18),
    1.6px 3.2px 4px -1.7px hsl(var(--shadow-color) / 0.18),
    3.8px 7.5px 9.5px -2.5px hsl(var(--shadow-color) / 0.18);

  --rounded-sm: 0.25rem;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.cell {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-lightblue);
  cursor: pointer;
}
.cell:hover {
  background-color: var(--clr-gainsboro);
}
.cell:active {
  background-color: var(--clr-lightskyblue);
}
.cell-active {
  background-color: var(--clr-lightskyblue);
}
.cell-active:hover {
  background-color: var(--clr-lightskyblue-1);
}
.cells-group {
  display: flex;
  flex-flow: row wrap;
}

.help {
  align-self: self-end;
  font-size: 0.8rem;
}
.App-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.cells-row {
  display: flex;
  flex-direction: row;
}
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cells-container {
  border: 1px solid var(--clr-lightblue);
}
.generations {
  display: inline-block;
  margin-left: 0.5em;
  min-width: 5rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--clr-pale-brown);
  border-radius: 0.25rem;
  text-align: center;
}

.button {
  padding: 0.2rem 0.8rem;
  min-width: 3.5rem;
  height: 2rem;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  user-select: none;
  flex-flow: row wrap;
  gap: 2rem;
}

.controls > * + * {
  margin-left: 0.5rem;
}

/* .controls>* {
  margin: .3rem;
} */

select {
  width: 5rem;
  height: 2rem;
  cursor: pointer;
}

label {
  cursor: pointer;
  margin-right: 0.2em;
}

.checkbox input {
  cursor: pointer;
  transform: scale(2);
}
.game-help {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-black);
}

.game-help svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.3em;
}
.help-section {
  max-width: 600px;
}
.help-section h4 {
  margin: 0.5rem 0;
}
.help-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: inherit;
}
.help-section .controls-img {
  height: 150px;
  width: 250px;
  margin: 0 auto;
  /* border: 2px solid var(--clr-pink);
  border-radius: var(--rounded-sm); */
}
